body {
color:rgb(15, 99, 95);
 background:black;
  font-family: "Elms Sans", sans-serif;
}

.chamada{ 
    background:rgb(22, 154, 139);
 padding: lotoon 80px;
 padding-top:80px;
 display:flex;
 justify-content:center;
}